.info {
  background-color: var(--primary-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 1rem 7rem;
}
.whiteDiv {
  width: 300rem;
  height: 100%;
  background-color: white;
  position: absolute;
  z-index: 1;
  right: 0;
  border-radius: 105rem 0rem 0rem 0rem;
}
.about{
    height: 79rem;
    width: 95rem;
    text-align: center;
    z-index: 2;
    background-color: black;
    border-radius: 5rem;
    /* line-height: 9rem; */
    color: var(--primary-color);
    padding: 6rem;
}
.question{
    font-size: 10rem;
    line-height: 18rem;
}
.aboutUs{
    font-size: 5rem;
    letter-spacing: 0.6rem;
    line-height: 8rem;
}
.infoImage {
  z-index: 1;
  width: 140rem;
  height: 100%;
}
.infoImage img {
  width: 100%;
  height: 100%;
}